html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#regular {
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem 1rem;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.4s ease-in-out;
    z-index: 10;
}

.sticky.blue {
    transition: background-color 0.4s ease-in-out;
    background-color: #cbe5f1 !important;
}

#DOM {
    position: relative;
    display: flex;
    top: -14px;
    left: 80px;
    margin-bottom: -25px;
    margin-right: auto;
}

#domName {
    position: absolute;
    top: 5px;
    left: 76px;
    font-size: 40px;
    font-weight: 1000;
    font-family: Zain;
}

@media (max-width: 880px) {
    #regular {
        display: none;
        padding: 0px;
        margin: 0px;
    }
}

#break {
    display: none;
}

#hamburger {
    padding: 0rem;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
}

.hamburger-menu {
    height: 50px;
    width: 50px;
    position: sticky;
    cursor: pointer;
    padding: 1rem;
}

.ham-bar {
    width: 90%;
    height: 4px;
    background-color: #f0f1fa;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}
.bar-top {
    top: 25%;
}
.bar-bottom {
    top: 75%;
}

.hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}
.hamburger-menu.active .bar-mid {
    opacity: 0;
}
.hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}

.off-screen-menu {
    position: fixed;
    top: -75%;
    background-color: black;
    width: 100%;
    height: 140px;
    transition: top .5s;
    justify-content: center;
    text-align: center;
}
.off-screen-menu.active {
    top: 50px;
    position: absolute;
}

nav ul {
    list-style-type: none;
    display: flex; float: none;
    vertical-align: center;
    justify-content: left;
    padding-right: 10px;
    gap: 2.5rem;
    width: 100%;
    margin-left: auto;
    font-size: 22px;
}


.off-screen-menu ul{
    position: relative;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#drop li {
    position: relative;
}

#drop a {
    color: #f0f1fa;
    position: relative;
    display: block;
    padding: 3.5px;
}


a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: #7987f8;
}
a:active {
    color:#3f36c6;
}

nav a::before {
    content: " ";
    position: flex;
    display: block;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

nav a:hover::before {
    transform: scaleX(1);
}

body {
    font-family: Noto Sans;
    background-color: #f0f1fa;
    color: black;
    font-weight:bold;
    font-size: 20px;
    position: relative;
    width: 100%;
    background-image: linear-gradient(#f0f1fa, #cdd5f2);

}

body .night {
    background-color: black;
    color: white;
}

body .indigo {
    color: #7987f8;
    font-weight: bold;
    font-size: 50px;
}

#rest {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}


.intro {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 0.8s;
}

.logo-header {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    height: 100vh;
    text-align: center;
}

.logo {
    position: relative;
    display: inline-block;
    text-align: center;
    bottom: -20vh;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 100vh;
    transition: ease-in-out 1s;
}

#home {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: calc(100vh - 85.67px);
    padding: 20px;
    text-align: center;
    justify-content: center;
    width: 100vw;
}

@media (min-height: 1080px) {
    #home {
        margin-top: 2vh;
        height: calc(98vh - 85.67px);
    }
}

#bio {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

#pfp img{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
#name {
    font-size: 44px;
}


@media (max-width: 880px) {
    #hamburger {
        display: flex;
    }
}
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    vertical-align: center;
}

.socials {
    font-size: 40px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

@media (max-width: 430px) {
    #name {
        font-size: 225%;
        padding: 0px 20px;
        line-height:40px;
    }
    #hook {
        padding-top: 5px;
    }
    #bio {
        font-size: 75%;
    }
    .fa {
        font-size: 30px !important;
    }
    #socials {
        margin-top: -10px;
    }
    .fa.fa-arrow-down {
        padding-top: 1px !important;
        margin-top: 0% !important;
    }
    #me {
        height: 250px;
        width: 250px;
    }
    #home {
        height: calc(100svh - 50px);
    }
    #about, #extracurriculars, #projects {
        padding-top: 0;
        margin-top: 0;
    }
}

#arrow {
    margin-top: 6vh; 
    font-size: 40px;
}

#timeline {
    margin: 0 auto;
    max-width: 1400px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 6px 1fr;
    z-index: 100;
}

.timeline-comp {
    margin: 0 60px 20px 60px;
    overflow-x: wrap;
    word-wrap: break-word;
}

.timeline-title {
    margin: 0;
    padding-bottom: 10px;
    font-size: 30px;
    color: #c299e5;
    word-wrap: break-word;
}

.timeline-paragraph {
    line-height : 1.5;
    font-size: 18px;
}
.timeline-comp-bg {
    padding: 0.5em 1.5em;
    background: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 15px 5px rgb(192, 203, 240);
    border-radius: 10px;
}

.timeline-date {
    margin-top: 20px;
    color: #150f64;
    font-weight: 800;
}

.timeline-date-right {
    text-align: right;
}

.timeline-middle {
    background: black;
    position: relative;
}

.timeline-point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#about {
    z-index: 2;
    padding-top: 85.67px;
    margin-top: -85.67px;
}

#about-intro {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 40px;
    text-align: center;
    background-image: 
        linear-gradient(90deg, #7987f8, #7987f8);
    background-clip: text;
    color: transparent;
}

.point {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-scroll {
    overflow: hidden;
}
.date {
    font-size: 16px;
    color:#3f36c6;
    padding-top: 10px;
}
.animatedBg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow-y: hidden;
    overflow-x: hidden;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    transform: translateX(100%);
}

.hiddenLeft {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.delete {
    display: block;
}

#timeline-mobile {
    display: none;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 6px 1fr;
    z-index: 100;
}

.timeline-point-mobile {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@media (max-width: 800px) {
    #timeline-mobile {
        display: show;
    }
    #timeline {
        display: none;
    }
    .timeline-middle {
        left: 10px;
    }
    .timeline-comp {
        margin: 0 0px 20px 40px;
    }
}

@media (min-width: 800px) {
    #timeline-mobile {
        display: none;
    }
    #timeline {
        display: show;
    }
}
.squares{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.squares li {
    list-style: none;
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    height: auto;
    background-color: lightblue;
    animation: goingUp 30s linear infinite;
    bottom: -20lvh;
}

.squares li:nth-child(1){
    left: 5%;
    width: 6%;
    animation-delay: 3.6s;
    animation-duration: 10s;
}

.squares li:nth-child(2){
    left: 10%;
    width: 8%;
    animation-delay: 5.6s;
    animation-duration: 14s;
}

.squares li:nth-child(3){
    left: 19%;
    width: 6%;
    animation-delay: 6.6s;
    animation-duration: 12s;
}

.squares li:nth-child(4){
    left: 25%;
    width: 4%;
    animation-delay: 3.6s;
    animation-duration: 16s;
}

.squares li:nth-child(5){
    left: 37%;
    width: 5%;
    animation-delay: 3.6s;
    animation-duration: 15s;
}
.squares li:nth-child(20){
    left: 37%;
    width: 5%;
    animation-delay: 14s;
    animation-duration: 14s;
}
.squares li:nth-child(6){
    left: 45%;
    width: 4%;
    animation-delay: 5.1s;
    animation-duration: 14s;
}

.squares li:nth-child(7){
    left: 52%;
    width: 6%;
    animation-delay: 4.5s;
    animation-duration: 18s;
}

.squares li:nth-child(8){
    left: 59%;
    width: 4%;
    animation-delay: 3.9s;
    animation-duration: 14s;
}

.squares li:nth-child(9){
    left: 65%;
    width: 3%;
    animation-delay: 4.6s;
    animation-duration: 13s;
}

.squares li:nth-child(10){
    left: 73%;
    width: 5%;
    animation-delay: 5s;
    animation-duration: 16s;
}

.squares li:nth-child(11){
    left: 80%;
    width: 7.5%;
    animation-delay: 4.6s;
    animation-duration: 19s;
}
.squares li:nth-child(12){
    left: 6%;
    width: 5%;
    animation-delay: 6.6s;
    animation-duration: 9s;
}
.squares li:nth-child(13){
    left: 11%;
    width: 4%;
    animation-delay: 10.6s;
    animation-duration: 15s;
}

.squares li:nth-child(14){
    left: 20%;
    width: 5%;
    animation-delay: 11.6s;
    animation-duration: 13s;
}
.squares li:nth-child(15){
    left: 28%;
    width: 3%;
    animation-delay: 8.6s;
    animation-duration: 13s;
}
.squares li:nth-child(16){
    left: 18%;
    width: 5.5%;
    animation-delay: 12.6s;
    animation-duration: 12s;
}
.squares li:nth-child(17){
    left: 39%;
    width: 6%;
    animation-delay: 7.6s;
    animation-duration: 15.5s;
}
.squares li:nth-child(18){
    left: 47.5%;
    width: 7%;
    animation-delay: 8.3s;
    animation-duration: 17s;
}
.squares li:nth-child(19){
    left: 50%;
    width: 2%;
    animation-delay: 9.5s;
    animation-duration: 8s;
}
.squares li:nth-child(20){
    left: 55%;
    width: 7%;
    animation-delay: 7.3s;
    animation-duration: 15s;
}
.squares li:nth-child(21){
    left: 60%;
    width: 4.5%;
    animation-delay: 11.9s;
    animation-duration: 13s;
}
.squares li:nth-child(22){
    left: 68%;
    width: 6.5%;
    animation-delay: 9s;
    animation-duration: 11.5s;
}
.squares li:nth-child(23){
    left: 77%;
    width: 4%;
    animation-delay: 11s;
    animation-duration: 12.5s;
}
.squares li:nth-child(24){
    left: 83%;
    width: 3%;
    animation-delay: 9.2s;
    animation-duration: 10s;
}
.squares li:nth-child(25){
    left: 88%;
    width: 5%;
    animation-delay: 4.2s;
    animation-duration: 12s;
}
.squares li:nth-child(26){
    left: 9%;
    width: 4%;
    animation-delay: 12s;
    animation-duration: 14s;
}
.squares li:nth-child(27){
    left: 92%;
    width: 4%;
    animation-delay: 6.5s;
    animation-duration: 13s;
}
.squares li:nth-child(28){
    left: 96%;
    width: 5%;
    animation-delay: 5.2s;
    animation-duration: 15s;
}
.squares li:nth-child(29){
    left: 87%;
    width: 5%;
    animation-delay: 15s;
    animation-duration: 12s;
}
.squares li:nth-child(30){
    right: 95%;
    width: 6%;
    animation-delay: 16.2s;
    animation-duration: 13s;
}
@keyframes goingUp{
    0%{
        transform: translateY(0), rotate(0);
        opacity: 0.8;
        border-radius: 20%;
    }
    100%{
        transform: translateY(-135lvh) rotate(720deg);
        opacity: 0.3;
        border-radius: 20%;
    }
}